# EuroCheats Module Selection
# ---------------------------
# 1. Copy this file and rename it to 'moduleselection.txt'
# 2. Delete modules you don't need.
# 3. Change the order to your liking.
# 4. Run 'python build.py'.

DIY/Clockwerk.htm
Endorphin.es/Milky Way.htm
Erica Synths/Dual FX.htm
Erica Synths/Pico DSP.htm
Erica Synths/Pico Voice.htm
Folktek/Alter 1.htm
Forge TME/Vhikk X.htm
Ladik/Easy Quantizer.htm
Make Noise/Morphagene.htm
Mutable instruments/Plaits.htm
Other/nRings.htm
Robaux/3PT.htm
Seaside Modular/Proteus.htm
