# EuroCheats Module Selection
# ---------------------------
# 1. Copy this file and rename it to 'moduleselection.txt'
# 2. Delete modules you don't need.
# 3. Change the order to your liking.
# 4. Run 'python build.py'.

DIY/Clockwerk/Jacks.htm
Endorphin.es/Milky Way/Algorithms.htm
Erica Synths/Dual FX/Algorithms.htm
Erica Synths/Pico DSP/Algorithms.htm
Erica Synths/Pico Voice/Algorithms.htm
Folktek/Alter 1/Algorithms.htm
Forge TME/Vhikk X/Algorithms.htm
Ladik/Easy Quantizer/Scales.htm
Make Noise/Morphagene/Button Combos.htm
Mutable instruments/Plaits/Hidden Combos.htm
Other/nRings/Easter Egg Mode.htm
Robaux/3PT/Modes and Scales.htm
Seaside Modular/Proteus/Scales.htm
